# Configuración local de Android Studio / IDE
.idea/
*.iml
local.properties

# Archivos de compilación y Gradle
build/
.gradle/
gradle/wrapper/gradle-wrapper*.jar
*.log

# Node.js y Variables de Entorno
node_modules/
.env
